@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background: url(images/kybernaBackground.png) no-repeat;
    
}
section{
    min-height: 70vh;
}
.header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 20px;
}
.navigate{
    display: flex;
    gap: 30px;
    margin-right: 60px;
}

.header .navigate a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    position: relative;
    overflow: hidden;
    line-height: 30px;
}

.header .navigate a::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 3px;
    bottom: 0;
    left: 0;
    width: 0; /* Šířka nula na začátku, čára je skrytá */
    height: 3px; /* Tloušťka čáry */
    background-color: #FF7120; /* Barva čáry */
    transition: width 0.3s ease; /* Přidání přechodu pro plynulý efekt */
}

.header .navigate a:hover::before {
    width: 100%; /* Při najetí myší se šířka čáry zvětší na 100% */
}


h1{
    color: #FF7120;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}
h2 {
    line-height: 75px;
    font-size: 20px;
    color: #363638;
}
.mainTextFirstCol{
    font-size: 50px;
    font-weight: 300;

}
.mainSection{
    margin-top: 225px;
    margin-left: 180px;
}

.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    
}
.mainImageContainer{
    height: auto;
}
.mainImage {
    width: 540px;
    margin-right: 162px;
}
.mainContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
.topLine{
    border: 20px solid #FF7120;
    margin-top: 9px;
}
.btn-hover {
    background-image: linear-gradient(to right, #FF7120, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(255, 113, 32, 0.75);
    width: 232px;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 67px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.CsharpIcon {
    position: absolute;
    right: 0;
    width: 120px;
    margin-top: -627px;
    margin-right: 444px;
    transform: rotate(-26deg);
}
.javaScriptIcon {
    margin-bottom: 261px;
    margin-right: 580px;
    position: absolute;
    right: 0;
    transform: rotate(-40deg);
    width: 120px;
}


.htmlIcon {
    width: 120px;
    margin-bottom: 613px;
    margin-right: 176px;
    position: absolute;
    right: 0;
}
.CSSicon {
    width: 120px;
    margin-bottom: 216px;
    margin-right: 65px;
    position: absolute;
    right: 0;
}

 /* PROC PROGRAMATOR PAGE */

.whyProgContent{
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.whyProgContent p {
    max-width: 748px;
    text-align: center;
    font-size: 18px;
}
 .whyProgName{
    font-size: 60px;
    color: #FF7120;
}
.reasons {
    text-align: center;
    background-color: transparent; /* Dark blue background */
    padding: 100px 0;
    position: relative;
    margin: -94px 108px;
}

.reasonWrap {
    background: linear-gradient(90deg, #f39056, #FF7120, #e45a0a);
    /* background: linear-gradient(90deg, #ec8245, #FF7120, #e26116); */
    border-radius: 10px;
    padding: 40px;
    height: 658px;
}

.projectsMainText {
    font-size: 45px; /* Increase text size */
    margin: 0;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Add neon-like glow to text */
    font-family: 'Montserrat', sans-serif;
}

.reasonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    height: 404px;

}

.reason {

    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.reason-inner {
    padding: 25px;
    height: 480px;
}

.reason-inner h2{
    font-size: 35px;
    color:#FF7120;
    text-align: center;
}

.clockIcon, .homeIcon, .choiceIcon, .ideaIcon, .importantIcon, .freeIcon{
    font-size: 90px;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #FF7120;
}
.ideaIcon{
 
    margin-top: 35px;
}
.homeIcon,.clockIcon{
    margin-top:121px
}
.importantIcon{
    margin-top: 15px;
}
.freeIcon{
    margin-top: 50px;
}

.choiceIcon {
    margin-top: 77px;
}
/* budoucnost section */



.budoucnost{
    min-height: 100vh;
    margin-top: 50px;
    background-image: url(images/kybernaBackground.png);
    background-size: cover;
}

.budoucnostTittle {
    color: #FF7120;
    text-align: left;
    font-size: 75px;
    margin-left: 205px;
    padding-top: 64px;
}
.budoucnostImage {
    width: 800px;
    margin-top: 76px;
    margin-left: -42px;
}
.budoucnostObsah{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.budoucnostDecr{
    max-width: 460px;
    color: #A1A1A1;
    font-size: 15px;
}
.budoucnostItemsWrap {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-right: 110px;
    margin-top: 31px;
}
.budoucnostItem{
    display: flex;
    align-items: center;
    gap: 28px;
}
.budoucnostIcons{
    font-size: 80px;
    background: linear-gradient(90deg, #f39056, #FF7120, #e45a0a);
    padding: 42px;
    color: #fff;
    border-radius: 20px;
}
.budoucnostItemTittle{
    font-size: 30px;
    color: #433A3A;
}
.arrowRight,
.arrowLeft{
    font-size: 30px;
    width: 50px;
    position: absolute;
    display: block;
    cursor: pointer;
}

.arrowRight:hover,
.arrowLeft:hover{
    color: #e45a0a;
}
.arrowLeft{
    left: -100px;
    top: 50%;
}
.arrowRight{
    right: -100px;
    top: 50%;
}
.slick-slide {
    margin: 0 27px;
}

        /* JAK NA TO PAGE */
.jak-na-to{
    min-height: 100vh;
}
.jakNatoTittle{
    text-align: center;
    color: #FF7120;
    font-size: 60px;
    padding-top: 55px;
}
.jakNaToBlock{
    display: flex;

    align-items: center;
    gap: 125px;
}
.JakNaToImage {
    width: 527px;
    height: 345px;
    border-radius: 37px;
}
.jakNaToDecription{
    max-width: 390px;
    color: #A1A1A1;
}
.jakNatoTextTitle {
    line-height: 35px;
    font-size: 32px;
    color: #FF7120;
}
.jakNaToKrok{
    color: #000;
    font-weight: 500;
    font-size: 13.5px;
}
.jakNaToBlocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    gap: 20px;
}

        /* DALSI MOZNOSTI PAGE */

.dalsiPopis{
    max-width: 650px;
    color:#fff;
}
.dalsiTitle{
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.dalsiMoznostiObsah{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 50%;
    
}
.viceOkybene {
    text-decoration: none;
    line-height: 100px;
    background: #fff;
    padding: 15px;
    border-radius: 40px;
    font-weight: 600;
    color: black;
}

.viceOkybene:hover{
    color: #fff;
    background: black;
}
.dalsiMainTextWrap {
    background: linear-gradient(90deg, #f39056, #FF7120, #e45a0a);
    padding: 150px 257px 106px 65px;
    border-radius: 35px;
}
.dalsi-moznosti{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.dalsiMoznostiMainTittle {
    font-size: 60px;
    color: #FF7120;
    margin-left: 65px;
}

        /* CO JE KYBERNA PAGE */
.coJeKybernaWrap {
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
}
/* .coJeKybernaTextWrap {
} */
.coJekybernaTitle {
    font-size: 50px;
    color: #FF7120;
}
.coJekybernaDecription {
    max-width: 386px;
    color: #333333;
    font-weight: 300;
}
.coJeKybernaImage {
    width: 637px;
    border-radius: 25px;
    border: 1px solid #000;
}
.co-je-kyberna{
    background-image: url("images/kybernaBackground.png");
    background-repeat: no-repeat;
}

.procNaKybernuTitle{
    font-size: 40px;
    color: #FF7120;
    text-align: center;
}
.procNaKybernuWrap{
    margin-top: 123px;
}

.itemDecription{
    max-width: 400px;
    color: #A1A1A1;
}
.procNaKybernuItems{
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

.itemTittle{
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    color: #4E4646;
}
.itemIcons {
    color: #FF7120;
    font-size: 170px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}


.coSeUCiWrap{
    margin-top: 120px;
}
.coSeUciItems {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 52px;

}
.coSeUciItem {
    background-color: #F5F5F5;
    padding: 31px 158px 10px 11px;
    border-radius: 15px;
    position: relative;
    height: 315px;
}
.twoItemsPerRow {
    display: flex;
    justify-content: center;
    gap: 57px;
}
.coSeUciItemTitle {
    color: #FF7120;
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
}
.cssType{
    color: #09A4FB;
}
.javascriptType{
    color: #E67CC9;
}
.CsharpType{
    color: #0BDB51;
}
.CPlusPlusType{
    color: #E60000;
}
.arduinoType{
    color: #4E4646;
}
.coSeUciItemDesr {
    max-width: 400px;
    color: #333;
    font-weight: 300;
}
.coSeUciItem img {
    position: absolute;
    top: 14px;
    right: 18px;
    width: 100px;
}
.javascriptIconItem{
    width: 100px;
}
.CSharpIconItem{
    width: 100px;
}


.contact{
    margin-top: 75px;
}
.contactWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
.masDotazTittle {
    color: #FF7120;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
.masDotazDesr {
    max-width: 400px;
    font-weight: 200;
    font-size: 17px;

}
.masDotazLink {
    text-decoration: none;
    color: #FF7120;
    /* text-align: right; */
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

.boxInput, .textAreaInput {
    width: 540px;
    margin: 10px 0;
    background: #EAECEE;
    /* border: 2px solid #29b8ff; */
    border-radius: 21px;
}
  
  .fieldInput {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border: none;
    color: #A1A1A1;
    background: transparent; /* Transparent background for input fields */
  }
  input[type="text"],
  input[type="email"]{
    height: 50px;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea[name="Message"]::placeholder {
    color: #A1A1A1;
    font-weight: 600;
  }
  *:focus {
    outline: none;
}
  
  /* Style the input placeholders */
  input::placeholder,
  textarea::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value for more transparency */
  }

  .inputIcon{
    font-size: 23px;
    color: #575454;
  }

  .napisNamTitle{
    font-size: 40px;
    color: #FF7120;
    text-align: center;
    line-height: 120px;

  }

.footer{
    margin-top: 40px;
    background-color: #FF7120;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerText{
    color: #EAECEE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send-button{
    width: 225px;
    height: 54px;
}
.btnSubmitForm{
    display: flex;
    justify-content: center;
}


        /* RESPONZIVITA PRO TABLETY */

@media screen and (min-width: 709px) and (max-width: 1023px){
    h1 {
        font-size: 40px;
        line-height: 51px;
    }
    h2 {
        line-height: 61px;
        font-size: 17px;
    }
    .btn-hover {
        width: 196px;
        font-size: 21px;
        height: 47px;
    }
    .mainImage {
        width: 359px;
        margin-right: 227px;
    }
    .mainSection {
        margin-top: 125px;
        margin-left: 238px;
    }
    .mainContent {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
    }
    .navigate {
        gap: 20px;
    }
    .header .navigate a {
        font-size: 12px;
    }
    .logo img{
        width: 157px;
    }
    section{
        min-height: 55vh;
    }
    .whyProgName {
        font-size: 45px;
    }
    .budoucnostTittle {
        text-align: center;
        font-size: 41px;
        margin-left: auto;
    }
    .budoucnostItemTittle {
        font-size: 27px;
        
    }
    .budoucnostObsah {
        justify-content: right;
    }
    .budoucnostDecr {
        max-width: 460px;
        font-size: 13px;
    }
    .budoucnostIcons {
        font-size: 56px;
        padding: 37px;
    }
    .imageWrap{
        display: none;
    }
    .jakNaToBlock {
        gap: 18px;
    }
    .jakNaToDecription {
        max-width: 307px;
        font-size: 14px;
    }
    .jakNaToKrok {
        font-size: 12.5px;
    }
    .jakNatoTextTitle {
        line-height: 32px;
        font-size: 28px;
    }
    .JakNaToImage {
        width: 369px;
        height: 274px;
    }
    .jakNatoTittle {
        font-size: 41px;
    }
    .budoucnost{
        min-height: 69vh;
    }
    .dalsiMoznostiMainTittle {
        font-size: 46px;
        text-align: center;
        padding-bottom: 25px;
    }
    .dalsiImageWrap{
        display: none;
    }
    .coJeKybernaWrap {
        gap: 14px;
    }
    .coJekybernaTitle {
        font-size: 42px;
    }
    .coJeKybernaImage {
        width: 382px;
    }
    .coJekybernaDecription {
        max-width: 356px;
        font-size: 13px;
    }
    .procNaKybernuItem {
        width: 197px;
    }
    .coSeUciItem{
        height: 351px;
    }
    .coSeUciItems {
        align-items: center;
    }
    .twoItemsPerRow {
        flex-direction: column;
        width: 660px;
    }
    .contactWrap {
        gap: 76px;
    }
    .boxInput, .textAreaInput {
        width: 355px;
    }
    input[type="text"], input[type="email"] {
        height: 44px;
    }
    .masDotazTittle {
        font-size: 32px;
    }
    .haveQuestionWrap{
        width: 250px;
    }
    .masDotazDesr {
        font-size: 15px;
    }
    .masDotazLink {
        font-size: 19px;
    }

}

@media screen and (max-width: 708px){
    .navigate{
        display: none;
    }
    .mainSection {
        margin-top: 136px;
        margin-left: 29px;
    }
    h1 {
        font-size: 37px;
        line-height: 42px;
    }
    h2 {
        line-height: 52px;
        font-size: 17px;
    }
    .mainImage{
        display: none;
    }
    .btn-hover {
        width: 170px;
        font-size: 17px;
        height: 48px;
    }
    .mainContent{
        height: auto;
    }
    .whyProgName {
        font-size: 36px;
        text-align: center;
        line-height: 1.1;
    }
    section{
        min-height: 60vh;
    }
    .reasons {
        display: flex;
        justify-content: center;
    }
    .reasonWrap {
        width: 353px;
        padding: 13px;
        height: 623px;
    }.arrowRight {
        right: -22px;
        top: 50%;
    }
    .arrowLeft {
        left: -22px;
        top: 50%;
    }
    .reason-inner h2 {
        font-size: 22px;
    }
    .reason-inner p{
        font-size: 13px;
    }
    .imageWrap{
        display: none;
    }
    .budoucnostTittle {
        font-size: 41px;
        margin-left: auto;
        text-align: center;
    }
    .budoucnostItemsWrap {

        margin-right: auto;
        gap: 40px;
    }
    .budoucnostItemTittle {
        font-size: 26px;
    }
    .budoucnostDecr {
        max-width: 263px;
        font-size: 11px;
    }
    .budoucnostIcons {
        font-size: 54px;
        padding: 19px;
    }
    .budoucnostItem {
        gap: 15px;
    }
    .jakNatoTittle {
        font-size: 40px;
        padding-top: 55px;
    }
    .jakNaToBlocks {
        gap: 118px;
    }
    .jakNaToBlock {
        gap: 26px;
        flex-direction: column;
    }
    .first,
    .third{
        flex-direction: column-reverse;
    }
    .jakNaToKrok {
        font-size: 9.5px;
    }
    .jakNatoTextTitle {
        line-height: 39px;
        font-size: 26px;
    }
    .jakNaToDecription {
        max-width: 311px;
        font-size: 14px;
    }
    .JakNaToImage {
        width: 331px;
        height: 218px;
 
    }
    .dalsi-moznosti {
        margin-top: 74px;
        
    }
    .dalsiImageWrap{
        display: none;
    }
    .dalsiMoznostiMainTittle {
        font-size: 36px;
        margin-left: 0;
        text-align: center;
    }
    .dalsiMainTextWrap {
        padding: 41px 20px;
    }
    .dalsiTitle {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .dalsiPopis {
        font-size: 14px;
    }
    .coJekybernaTitle {
        font-size: 40px;
        color: #FF7120;
        text-align: center;
    }
    .coJeKybernaWrap {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    .coJekybernaDecription {
        max-width: 479px;
        font-size: 15px;
        text-align: center;
    }
    .coJeKybernaImage {
        width: 352px;
    }
    .coJeKybernaImageWrap{
        display: flex;
        justify-content: center;
    }
    .procNaKybernuItems {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 39px;
    }
    .itemDecription {
        max-width: 277px;
    }
    .procNaKybernuTitle {
        font-size: 34px;
    }
    .coSeUciItem {
        padding: 31px 47px 10px 11px;
        height: 369px;
        width: 321px;
    }
    .twoItemsPerRow {
        gap: 57px;
        flex-direction: column;
    }
    .coSeUciItemDesr {
        max-width: 239px;
        font-size: 13.5px;
    }
    .coSeUciItem img {
        top: 12px;
        right: 1px;
        width: 77px;
    }
    .coSeUciItems{
        align-items: center;
    }
    .contactWrap {
        gap: 49px;
        flex-direction: column-reverse;
    }
    .masDotazTittle {
        font-size: 43px;
        line-height: 91px;
    }
    .masDotazDesr {
        max-width: 278px;
        font-size: 14px;
        text-align: center;
    }
    .masDotazLink {
        font-size: 20px;
    }
    .boxInput, .textAreaInput {
        width: 305px;
    }
    .napisNamTitle{
        display: none;
    }
}